html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family:sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: pink;
}

#main-holder {
  width: 55%;
  height: 80%;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: white;
  border-radius: 7px;
  box-shadow: 4px 4px 5px 2px black;
}
