* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: #2fccdf;
    justify-items: center;
    align-items: center;
}

.footer {
    bottom: 0;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    margin-bottom: 5px;
}

#foot{
    color: #fff;
}
 a {
     color: black;
}

a:hover {
    color: #2c50ac;
}

.area {
    display: flex;
    width:70%;
}

.image {
    margin-top: 100px;
    padding: 15px;
}

.form{
    padding: 15px;
}
